<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TITLE</title>
        <style>
            .h1 {
                font-weight: bold;
            }

            .text-center {
                text-align: center;
            }

            .bold {
                font-weight: bold;
            }

            .signature {
                -webkit-box-pack: center;
                display: -webkit-box;
            }

            body {
                font-size: 10px;
            }

            .header {
                margin-bottom: 40px;
            }

            .party {
                margin-top: 40px;
            }

            .remarks {
                margin-top: 40px;
            }

            .uppercase {
                text-transform: uppercase;
            }
        </style>
    </head>

    <body>
        <!-- header -->
        <div class="header">
            <table width="100%">
                <tr class="h1 text-center">
                    <td>BERITA ACARA PELAKSANAAN PEKERJAAN (BAPP)</td>
                </tr>
                <tr class="h1 text-center uppercase">
                    <td>PEKERJAAN {{ this.contract_name }}</td>
                </tr>
                <tr class="text-center">
                    <td>{{ this.no }}</td>
                </tr>
            </table>
        </div>

        <!-- main -->
        <div class="main">
            <div>
                Pada hari ini, {{ this.day_name_indonesia }} tanggal {{
                this.day_number_indonesia }} bulan {{
                this.month_number_indonesia }} tahun dua ribu {{
                this.years_number_indonesia }} &#40;{{this.date_formated}}&#41;,
            </div>
            <div>kami yang bertanda tangan dibawah ini:</div>
            <div class="party">
                <table>
                    <!-- pihak pertama -->
                    <tr>
                        <td>1.</td>
                        <td>Nama</td>
                        <td>:</td>
                        <td class="bold">{{ this.party_1_name }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jabatan</td>
                        <td>:</td>
                        <td class="bold">{{ this.party_1_position }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Selanjutnya disebut</td>
                        <td>:</td>
                        <td class="bold">PIHAK PERTAMA</td>
                    </tr>
                </table>

                <table style="margin-top: 20px">
                    <!-- pihak kedua -->

                    <tr>
                        <td>2.</td>
                        <td>Nama</td>
                        <td>:</td>
                        <td class="bold">{{ this.party_2_name }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Jabatan</td>
                        <td>:</td>
                        <td class="bold">{{ this.party_2_position }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Selanjutnya disebut</td>
                        <td>:</td>
                        <td class="bold">PIHAK KEDUA</td>
                    </tr>
                </table>
            </div>

            <div class="remarks">
                <p>
                    PIHAK PERTAMA Telah melaksanakan pemeriksaan pekerjaan
                    sebagai berikut:
                </p>

                <table>
                    <tr>
                        <td>Jenis pekerjaan</td>
                        <td>:</td>
                        <td>{{ this.contract_name }}</td>
                    </tr>
                    <tr>
                        <td>Pelaksana pekerjaan</td>
                        <td>:</td>
                        <td>{{ this.vendor_name }}</td>
                    </tr>
                    <tr>
                        <td>Dasar pelaksanaan pekerjaan</td>
                        <td>:</td>
                        <td>Perjanjian Nomor: {{ this.contract_no }}</td>
                    </tr>
                    <tr>
                        <td>Hasil pekerjaan yang telah diselesaikan</td>
                        <td>:</td>
                        <td>{{ this.review_text }}</td>
                    </tr>
                </table>

                <p>
                    Demikian Berita Acara Pelaksanaan Pekerjaan ini dibuat dalam
                    rangkap 2 (dua) untuk dapat dipergunakan sebagaimana
                    mestinya.
                </p>
            </div>

            <div class="signature">
                <table class="text-center" style="margin-right: 150px">
                    <tr>
                        <td>PIHAK PERTAMA,</td>
                    </tr>
                    <tr>
                        <td>PT. GEO DIPA ENERGI (PERSERO)</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 100px"></div>
                            <!-- <img src="https://www.docsketch.com/assets/vip-signatures/muhammad-ali-signature-6a40cd5a6c27559411db066f62d64886c42bbeb03b347237ffae98b0b15e0005.svg"
                            alt="" srcset="" width="200px"> -->
                        </td>
                    </tr>
                    <tr>
                        <td>{{ this.party_1_name }}</td>
                    </tr>
                </table>

                <table class="text-center">
                    <tr>
                        <td>PIHAK KEDUA,</td>
                    </tr>
                    <tr>
                        <td>{{ this.vendor_name }}</td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height: 100px"></div>
                            <!-- <img src="https://www.docsketch.com/assets/vip-signatures/muhammad-ali-signature-6a40cd5a6c27559411db066f62d64886c42bbeb03b347237ffae98b0b15e0005.svg"
                            alt="" srcset="" width="200px"> -->
                        </td>
                    </tr>
                    <tr>
                        <td>{{ this.party_2_name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
